.dart_tool/
.packages
build/
.flutter-plugins*
*.iml
.idea/
.env
android/local.properties
android/key.properties
*.jks
*.keystore
*.p12
*.mobileprovision
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.DS_Store
